div#hero {
 background-image: url('../images/heroimg.jpeg');
 background-size: cover;
 width: 100%;
 height: 95vh;
 z-index: -1;
}
.hero-text {
  background-color: #fff;
  float: right;
  width: 45%;
  margin: 12% 5% 0% 0%;
  padding: 3%;
  border-radius: 10px;
  opacity: 0.9;
}
.hero-text h1 {
  font-size: 2.5em;
  color: #16a085;
}
.hero-text h2 {
  font-size: 2.5em;
  color: #7f8c8d;
  margin-top: 2%;
}
.button-links {
  margin-top: 3%;
}
.hero-text button {
  background-color: #e74c3c;
  font-size: 1.5em;
  color: #fff;
  padding: 2%;
  border: none;
  border-radius: 10px;
}
#second-btn {
  margin-left: 4%;
}
.hero-text button:hover {
background-color: #c0392b;
cursor: auto;
}
.wfd-steps {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  background-color: #fff;
}
.step-details {
  flex-basis: 33.3333%;
  text-align: center;
  padding: 5% 0%;
  border: 1px solid #7f8c8d;
}
.step-details h5 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: #16a085;
  text-shadow: 2px 2px #000;
  padding-top: 2%;
}
.step-details p {
  font-size: 1.25em;
  color: #7f8c8d;
  padding: 2%;
}
.fa {
  font-size: 7em;
}
.step-details img {
  height: 25vh;
}
div#review-image {
  background-image: url('../images/food-salad.jpg');
  height: 110vh;
  width: 100%;
  background-size: cover;
  z-index: -1;
}
.reviews h3 {
  text-align: center;
  padding-top: 5%;
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px #000;
  opacity: 1;
  z-index: 5
}
.all-reviews {
  margin-top: 5%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
.review-details {
  flex-basis: 33.3333%;
  text-align: center;
  background-color: #fff;
  padding: 1%;
  margin: 2%;
  border-radius: 10px;
}
.review-details img {
  height: 20vh;
  border-radius: 50%;
}
.review-details p {
  font-size: 1.25em;
  color: #7f8c8d;
  padding: 2%;
  text-align: left;
}
.review-details h6 {
  font-size: 1.5em;
  color: #16a085;
  padding: 2%;
  text-align: left;
}

@media (min-width: 200px) and (max-width: 767px) {
  div#hero {
    height: 85vh;
  }
  .hero-text {
    margin: 25% 13% 0% 0%;
    width: 75%;
    text-align: center;
  }
  .wfd-steps {
    flex-direction: column;
  }
  .all-reviews {
    flex-direction: column;
    margin-top: 0%;
  }
  .review-details {
    margin: 3% 15%;
    padding: 2%;
  }
  div#review-image {
    height: 230vh;
  }
}
