* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.banner-text h3 {
  padding: 10% 0% 0% 5%;
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px #000;
  float: left;
}
.sign-up-form {
  display: flex;
  height: 30em;
  align-items: center;
}
.form-data h4 {
  margin-top: 5%;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #16a085;
  text-shadow: 1px 1px #000;
}
.form-data {
  width: 100%;
  margin: 0% 3%;
  flex-basis: 42%;
}
.form-data label {
  font-size: 1.5em;
  margin-top: 2%;
}
.form-data input {
  padding: 1%;
  font-size: 1.25em;
  border-radius: 10px;
  margin: 2% 0% 0% 2%;
  width: 65%;
}
input#submit {
  background-color: #e74c3c;
  font-size: 1.5em;
  color: #fff;
  padding: 2%;
  width: 20%;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-bottom: 5%;
}
input#submit:hover {
  background-color: #c0392b;
  cursor: pointer;
}
.form-image img {
  height: 55vh;
  margin: 0% 3%;
  flex-basis: 42%;
}
.login-form {
  display: flex;
  height: 30em;
  align-items: center;
  flex-basis: 50%;
}
.recipe-search {
  display: flex;
  flex-direction: column;
}
.search-details h4 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #16a085;
  text-shadow: 1px 1px #000;
  margin-top: 3%;
}
.search-details textarea {
  font-size: 1.5em;
  color: #16a085;
  margin-top: 2%;
  border: solid 1px #e74c3c;
  padding: 1%;
}
.search-details button {
  background-color: #e74c3c;
  font-size: 1.5em;
  color: #fff;
  padding: 2%;
  width: 120%;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin: 10% 0%;
}
button:hover {
  background-color: #c0392b;
  cursor: pointer;
}
.recipe-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.recipe-map {
  flex-basis: 24%;
  margin-left: 1%;
}
.recipe-details img {
  height: 40vh;
  width: 23vw;
  margin: 3% 0%;
}
.recipe-details a {
  font-size: 1.25em;
  color: #16a085;
  text-decoration: none;
}
.recipe-details a:hover {
  color: #1abc9c;
  cursor: pointer;
}
.recipe-details h5 {
  font-size: 1.25em;
  color: #e74c3c;
  margin-bottom: 5%;
}
.recipe-info-modal button {
  background-color: #16a085;
  font-size: 1em;
  color: #fff;
  padding: 2%;
  width: 99%;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.meal-plan-modal button {
  background-color: #16a085;
  font-size: 1em;
  color: #fff;
  padding: 2%;
  width: 99%;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.button-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recipe-info-modal button:hover {
  background: #1abc9c;
  cursor: pointer;
}
div.modal-0-2.modal {
  padding: 1em;
  position: relative;
  max-width: 80%;
  box-shadow: 2px 2px #000;
  top: 50%;
  transform: translateY(-50%);
}
.menu-heading h4 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 3em;
  color: #16a085;
  text-shadow: 1px 1px #000;
  margin-top: 2%;
}
.days-of-week {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.days-of-week div{
  width: 90%;
  margin: 3% 1%;
}
.individual-days {
  flex-basis: 14%;
}
.individual-meals {
  display: flex;
  flex-direction: column;
}
div.individual-days {
  background-color: #e74c3c;
  color: #fff;
  font-size: 2em;
  text-shadow: 1px 1px #000;
}
.days-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.meal-times {
  border: 1px solid #000;
  margin: 5%;
  padding: 10%;
  font-size: 1.25em;
}
